@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  height: 100vh;

  button {
    display: block;
    width: 100%;
    padding: 11px 13px;
    border-radius: 10px;
    border: solid 1px #99BA92;
    height: 3.375rem;
    margin: auto;
    background-color: #3390EC;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;

    &:hover {
      border: solid 2px #222;

    }
  }

  .menu_panel {
    width: 100%;
    height: 40px;
    padding: 10px;

    .burger_menu {
      width: 30px;
      height: 20px;
      position: relative;
      cursor: pointer;

      .burger {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #858383;

        &:before {
          content: '';
          width: 20px;
          height: 2px;
          background-color: #858383;
          position: absolute;
          top: 5px;
          left: 0;
        }

        &:after {
          content: '';
          width: 20px;
          height: 2px;
          background-color: #858383;
          position: absolute;
          top: -5px;
          left: 0;
        }

      }
    }

  }

  .first_screen {
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    max-width: 370px;
    width: 100%;

    .logo {
      width: 130px;
      height: 130px;
      margin: 28px auto;

      img {
        display: block;
        width: 100%;
      }
    }

    h1 {
      margin-bottom: 35px;
      text-transform: capitalize;
      text-align: center;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.1rem;
    }

    .login_form {
      form {
        .user_pass, .user_login {
          position: relative;
          margin-bottom: 25px;
          transition: 0.3s;

          &:hover {
            input {
              border: solid 1px #3390EC;
            }

            label {
              color: #3390EC;
            }
          }

          label {
            display: block;
            position: absolute;
            top: -10px;
            left: 12px;
            background-color: #fff;
            padding: 0 4px;
            font-size: 16px;
            color: rgb(112, 117, 121);
          }

          input {
            padding: 11px 13px;
            border-radius: 10px;
            border: solid 1px rgb(201, 198, 198);
            width: 100%;
            height: 3.375rem;
            font-size: 16px;

            &:focus-visible {
              outline-color: #3390EC;

            }
          }

        }

      }

    }

  }

  ///////////   MAIN SCREEN   ////////////


  .main_screen {
    height: 100vh;
    display: flex;

    .left_side {
      width: 320px;
      background-color: #ffffff;
      border-right: solid 1px grey;
      overflow: auto;


      .user_list {
        ul {
          list-style: none;
          padding: 5px 0;

          li {
            margin-bottom: 3px;
            padding: 5px 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            .user_face {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 15px;

              img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

    }

    .right_side {
      background: url(../images/pattern-20.svg);
      min-width: 70%;
      position: relative;

      .chatting {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: inherit;
        z-index: 2;

        .top {
          height: 45px;
          width: 100%;
          background-color: #fff;

        }

        .bottom {
          height: 45px;
          width: 100%;
          background-color: #fff;
          display: flex;
          align-items: center;
          padding-top: 10px;
          position: relative;
          overflow: hidden;

          // .add_file {
          //   width: 5%;
          //   height: 100%;

          //   &:before {
          //     margin-left: 15px;
          //     font-family: "Font Awesome 6 Free", sans-serif;
          //     font-weight: 900;
          //     content: "\f0c6";
          //     display: inline-block;
          //     transform: rotate(360deg);
          //     font-size: 25px;
          //     color: #bebebe;
          //   }

          }

          .form_block {
            position: inherit;
            bottom: 0;
            margin-left: 5px;
            width: 100%;
            display: flex;
            align-items: center;
            height: 100%;

            form {
              width: 100%;
              height: 100%;

              #text {
                resize: none;
                width: 100%;
                font-size: 20px;
                min-height: 30px;
                max-height: 60px;
                border: none;

                &:focus-visible {
                  outline: none;
                }
              }
            }

          }

          .other {
            bottom: 0;
            width: 10%;
            margin-top: -5px;
            position: relative;

            &:after {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              font-family: "Font Awesome 6 Free";
              font-weight: 400;
              content: "\f118";
              font-size: 30px;
              color: #bebebe;

            }
          }
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(-45deg, #cdeb8e 0%, #a5c956 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #cdeb8e 0%, #a5c956 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #cdeb8e 0%, #a5c956 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        opacity: 0.7;
      }
    }
  }


  /////////////  popUp/////////////


  .pop_up {
    .user_info_pop {
      width: 100%;
      height: 100vh;
      //background-color: #000000;
      //opacity: 0.65;
      backdrop-filter: blur(2px);

      .pop_block {
        max-width: 320px;
        height: 100vh;
        background-color: #fff;
        padding: 30px 0 30px 20px;
        border-right: solid 1px #bebebe;
        position: relative;

        .menu_panel {
          padding-left: 0;
          display: flex;
          justify-content: flex-end;

          .burger_menu {
            .burger {
              height: 0;

              &:before {
                top: 0;
                width: 30px;
                transform: rotate(45deg);
              }

              &:after {
                top: 0;
                width: 30px;
                transform: rotate(-45deg);
              }
            }
          }
        }

        .user_face {
          height: 70px;
          width: 70px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 15px;
          margin-bottom: 15px;

          img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: inherit;
            z-index: 2;
            opacity: 1;
          }
        }

        button {
          position: absolute;
          bottom: 50px;
          left: 50%;
          width: 80%;
          transform: translate(-50%, 0);
        }

      }
    }

    .exit_pop {
      width: 500px;
      height: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 2px #3390EC;
      background-color: #fff;
      padding: 15px;
      border-radius: 6px;

      h2 {
        font-size: 35px;
        margin: 25px;
      }

      p {
        text-align: center;
        font-size: 24px;
      }

      .exit_btn_group {
        margin-top: 50px;
        display: flex;

        button {
          background-color: #fff;
          border: solid 1px #3390EC;
          width: 100px;
          color: #3390EC;
          cursor: pointer;
        }
      }
    }
  }
}