.btn {
    padding: 10px;
    border: none;
    background-color: #3390EC;
    border-radius: 10px;
    border: solid 1px #99BA92;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff; 
    &:hover {
        border: solid 1px #222; 
    }
    &-smiles {
        align-self: flex-end;
    }
    &-send {
        align-self: flex-end;
    }
    &-smiles:hover {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 300px;
            height: 300px;
            top: -300px;
            left: -100px;
            border-radius: 10px;
            background: rgba(222, 154, 154, 0.4);
        }
    }
}