.btn {
    padding: 10px;
    border: none;
    background-color: #3a96d7;
    border-radius: 10px;
    border: solid 1px #014D69;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff; 
    &:hover {
        border: solid 1px #222; 
    }
    &-smiles {
        align-self: flex-end;
    }
    &-send {
        align-self: flex-end;
    }
}