.burger-menu {
    padding: 20px;
    display: flex;
    &__wrap{
        cursor: pointer;
        position: relative;
        padding: 17px 10px 19px;
        border: 1px solid black;
        border-radius: 8px;
    }
    &__btn {
        width: 20px;
        height: 3px;
        background-color: #858383;
        cursor: pointer;
        &::before {
            content: '';
            width: 20px;
            height: 3px;
            background-color: #858383;
            position: absolute;
            top: 24px;
        }
        &::after {
            content: '';
            width: 20px;
            height: 3px;
            background-color: #858383;
            position: absolute;
            top: 10px;
        } 
    }
}