.burger-menu {
    padding: 20px;
    display: flex;
    &__wrap {
        cursor: pointer;
        position: relative;
        padding: 17px 10px 19px;
        border: 2px solid black;
        border-radius: 8px;
    }
    &__btn {
        width: 25px;
        height: 4px;
        background-color: #230c0c;
        margin-top: 1px;
        cursor: pointer;
        &::before {
            content: '';
            width: 25px;
            height: 4px;
            background-color: #230c0c;
            position: absolute;
            top: 26px;
        }
        &::after {
            content: '';
            width: 25px;
            height: 4px;
            background-color: #230c0c;
            position: absolute;
            top: 10px;
        } 
    }
}