.chat-list {
    width: 30%;
    background: rgb(110, 110, 225);
    &__user-list {
        list-style: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            margin: 5px 0;
        }
    }
    &__user {
        color: aliceblue;
        font-size: 25px;
        margin: 0 20px;
        padding: 20px;
        padding-left: 50px;
        border-radius: 10px;
        border: 1px solid rgb(15, 51, 50);
        &:hover {
            cursor: pointer;
            background-color: darkcyan;
            border-radius: 10px;
        }
    }
}