.create-new-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    position: relative;
    &__wrap-wrong-div {
        position: relative;
    }
    &__wrong-message {
        position: absolute;
        bottom: -68px;
    }
    &__btn {
        margin-top: 100px;
    }
    p {
        padding: 20px;
    }
    .close-btn-cancel-new-pass {
        right: 30%;
        top: 50px;
    }
}