.exit-btn {
    display: flex;
    justify-content: space-between;
    button {
        width: 45%;
    }
    &__yes--green {
        background-color: rgb(21, 118, 68);
    }
    &__yes--red {
        background-color: rgb(185, 19, 19);
    }
}