.message {
    width: 70%;
    position: relative;
    &__chatting {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__addressee {
        background-color: #899096;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 700;
        z-index: 2;
    }
    &__messeges {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%; 
        overflow: auto;
        &::after {
            background-image: url(../img/bg-for-messages.svg);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100% ;
            z-index: 1;
            opacity: 0.3;
        }
    }
    &__send-message {
        display: flex;
        width: 100%;
        z-index: 2;
    }
    &__text {
        width: 100%;
        height: 51px;
        resize: none;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
    }
    &__to-friend {
        font-size: 25px;
        color: #772b90;
        margin-top: 10px;
    }
    &__time {
        background-color: rgba($color: #a03434, $alpha: 0.4);
        border-radius: 10px;
        font-size: 18px;
        font-weight: 900;
        padding: 10px;
        margin: 5px;
    }
    &__smiles {
        position: absolute;
        width: 250px;
        height: 300px;
        bottom: 50px;
        right: 1px;
        border-radius: 10px;
        background-color: rgb(254, 217, 217, 0.5);
        z-index: 2;
        font-family: 'Apple Color Emoji', 'Android Emoji', 'Segoe UI', 'EmojiSymbols', 'Symbola', 'Arial';
        font-size: 20pt;
    }
}