.popup-pass-changed {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    p {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        font-size: 25px;
    }
    button {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
    }
}