.user-info {
    position: absolute;
    top: 0;
    left: -100%;
    width: 30%;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #899096;
    &__btn {
        margin-top: auto;
    }
}